@model Jewelry_app.Models.Group

@{
    ViewData["Title"] = "Index";
}

<h1>חנות תכשיטים</h1>

<div>
    <h4>תכשיטים</h4>
    @if(Model.AllItems.ToList().Count > 0)
    {
    <div class="row">
        @foreach (Item item in Model.AllItems)
        {
            <div class="card" style="width: 18rem;">
                @if (item.Images.Count > 0 && item.Images.First() != null)
                {
                    <img class="card-img-top" src="data:image;base64,@System.Convert.ToBase64String(item.Images.First().MyImage)" width="120" height="90" />
                }
                <div class="card-body">
                    <h5  class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                </div>
                <div class="card-body">
                    <a asp-action="Details" asp-route-id="@item.ID" class="card-link">פרטי התכשיט</a>
                    <a asp-action="Index" asp-route-id="@item.ID" class="card-link">קנייה</a>
                </div>
            </div>
        }
        </div>
    }
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>*@
   
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
